---
- name: Déploiement DNS Bind9 + Web Admin avec Docker
  hosts: dns_dhcp_web
  become: yes

  tasks:
    - name: Mettre à jour le cache APT
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Installer les dépendances Docker
      apt:
        name:
          - ca-certificates
          - curl
          - gnupg
        state: present

    - name: Installer Docker
      apt:
        name: docker.io
        state: present

    - name: Installer Docker Compose
      apt:
        name: docker-compose
        state: present

    - name: Démarrer et activer Docker
      service:
        name: docker
        state: started
        enabled: yes

    - name: Créer le dossier projet
      file:
        path: /opt/sae502
        state: directory

    - name: Copier docker-compose.yml
      copy:
        src: ../docker/docker-compose.yml
        dest: /opt/sae502/docker-compose.yml

    - name: Copier configuration DNS
      copy:
        src: ../dns/
        dest: /opt/sae502/dns/
        directory_mode: yes

    - name: Copier fichiers Web
      copy:
        src: ../webadmin/
        dest: /opt/sae502/webadmin/
        directory_mode: yes

    - name: Lancer les conteneurs
      command: docker-compose up -d
      args:
        chdir: /opt/sae502
